# Common Virtual Environments
myvenv*
ENV*
venv*

# Common Data and Output Files
data*
PAI*

# Build Folders
**/__pycache__
/build
releases/*
perforatedai.egg-info

# Working Folders - Ignore all except specific project
Examples/*
!Examples/hackathonProjects/
Examples/hackathonProjects/*
!Examples/hackathonProjects/resnet50_optimization/ 

# Large Files and Logs to Exclude Everywhere
**/wandb/
**/PAI/
!Examples/hackathonProjects/resnet50_optimization/PAI/
**/*.pt
!Examples/hackathonProjects/resnet50_optimization/PAI/*.pt
**/*.pth
**/*.onnx
**/*.zip
**/*.tar
**/*.tar.gz
**/*.h5
**/*.pkl
