# Common Virtual Environments
myvenv*
ENV*
venv*

# Common Data and Output Files
data*
PAI*

# Build Folders
**/__pycache__
/build
releases/*
perforatedai.egg-info

# Working Folders - Unignored to allow project commits
# Examples/* 

# Large Files and Logs to Exclude Everywhere
**/wandb/
**/PAI/
**/*.pt
**/*.pth
**/*.onnx
**/*.zip
**/*.tar
**/*.tar.gz
**/*.h5
**/*.pkl
